<%= content_for :body_styles do %>
  background-image: url('<%= asset_path "woman.jpg" %>'); background-size: cover; background-position: center right; background-repeat: no-repeat
<% end %>
<div class="h-100 row m-0" style="min-height: 100vh">
  <div class="col col-md-5 col-lg-4 d-flex justify-content-center align-items-center">
    <div class="container py-4" style="background: white">
      <div class="row">
        <div class="col">
          <h5 class="mb-4">Create an account.</h5>
          <%= form_for @user, class: "bg-white p-3 border mb-4" do |f| %>
            <div class="form-group mb-4">
              <%= f.label :full_name %>
              <%= f.text_field :full_name, class: "form-control" %>
            </div>
            <div class="form-group mb-4">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group mb-4">
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <%= f.submit "Sign Up", class: "btn btn-primary btn-block" %>
          <% end %>
          <!-- <form class="bg&#45;white p&#45;3 border mb&#45;4" onSubmit={onSubmit}> -->
          <!--   <TextField name="name" placeholder="your full name" /> -->
          <!--   <EmailField name="email" placeholder="email" help="We'll email you updates about your campaign, we'll never give your email address to anyone else." /> -->
          <!--   <PasswordField name="password" placeholder="password" /> -->
          <!--   <button type="submit" class="btn btn&#45;primary btn&#45;block">Sign Up</button> -->
          <!-- </form> -->
          <small class="text-muted">You can find out more about our <a href="https://www.justiceandcare.com/privacy-policy/">privacy policy</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
