<div class="media mb-3">
  <span class="mr-3 rounded" style="background: red; text-align: center; padding: 1em; color: white">
    <%= donation.initials %>
  </span>
  <div class="media-body">
    <h5 class="mt-0"><%= donation.first_name %> <%= donation.last_name %></h5>
    <p style="color: #666; font-style: italic; font-weight: normal">donated <%= number_to_currency donation.amount %> <%= time_ago_in_words(donation.created_at) %> ago</p>
    <% if donation.comment.present? %>
      <p><%= donation.comment %></p>
    <% end %>
  </div>
</div>
