<%= content_for :body_styles do %>
  background-image: url('<%= asset_path "woman.jpg" %>'); background-size: cover; background-position: center right; background-repeat: no-repeat
<% end %>


<%= render layout: "layouts/accounts" do %>
<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group mb-4">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" , class: "form-control"%>
    <% if @minimum_password_length %>
    <small class="help-text">
      (<%= @minimum_password_length %> characters minimum)
    </small>
    <% end %>
  </div>
    <div class="form-group mb-4">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "password" %>
    </div>

  <div class="actions mb-4">
    <%= f.submit "Change my password", class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
<% end %>
