<%= content_for :head do %>
  <script src="https://donorbox.org/install-popup-button.js" defer></script>
          <script>
  			window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' }
          </script>

<% end %>
<div class="jumbotron jumbotron-fluid d-flex align-items-end pt-0 pb-4" style="height: 50vh; background-image: url('<%= asset_path "woman.jpg" %>'); background-position: center top; background-size: cover">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="media" style="color: white">
          <div class="media-body">
            <h1 class="display-6 d-none d-md-block"><%= @campaign.title %></h1>
            <h5 class="mt-0 text-light"><%= @campaign.user.full_name %></h5>
            <a href="https://donorbox.org/fundraisers-for-freedom-2?campaignId=<%= @campaign.id %>" class="custom-dbox-popup btn btn-primary">Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
		<div class="container">
			<div class="row">
				<div class="col col-12 col-md-5">
          <h4 class="d-block d-md-none">
            <%= @campaign.title %>
          </h4>
					<div class="border p-4 mb-4">
            <% if @campaign.campaign_type == 'CHALLENGE' %>
              <h1 class="d4">£ <%= @campaign.raised %> raised</h1>
              <div class="d-flex mb-4">
                <div class="progress flex-grow-1" style="height: 25px">
                  <div class="progress-bar bg-success" role="progressbar" style="width: <%= @campaign.progress %>%;" aria-valuenow="<%= @campaign.progress %>" aria-valuemin="0" aria-valuemax="100"><%= @campaign.progress %>%</div>
                </div>
                <span class="ml-2" style="lineHeight: 25px">£<%= @campaign.target %></span>
              </div>
            <% end %>
            <a href="https://donorbox.org/fundraisers-for-freedom-2?campaignId=<%= @campaign.id %>" class="custom-dbox-popup btn btn-primary btn-block">Donate Now</a>
						<ul class="mt-4">
							<li class="mb-2"><span class="text-primary">£15</span> could pay for a simple hygiene pack for someone who just been rescued from slavery in the UK</li>

								<li class="mb-2"><span class="text-primary">£50</span> could help provide access to therapeutic services, helping a survivor come to terms with their experience</li>
									<li class="mb-2"><span class="text-primary">£100</span> can help provide essential training to the police officers, prosecutors and the judiciary to help ensure those responsible for trafficking are brought to justice</li>

						</ul>
					</div>
				</div>
				<div class="col-12 col-md-7">
					<div class="mb-4 d-sm-none d-md-block">
            <pre><%= @campaign.description %></pre>
            <p class="lead">Donate to support <%= @campaign.user.first_name %>!</p>
					</div>
					<h3>Donations</h3>
          <% @campaign.donations.each do |donation| %>
								<div class="media mb-3">
									<span class="mr-3 rounded" style="background: red; text-align: center; padding: 1em; color: white">
                    <%= donation.initials %>
									</span>
									<div class="media-body">
                    <h5 class="mt-0"><%= donation.name %></h5>
                    <p style="color: #666; font-style: italic; font-weight: normal">donated <%= number_to_currency donation.amount %> <%= time_ago_in_words(donation.created_at) %> ago</p>
                    <% if donation.comment.present? %>
                      <p><%= donation.comment %></p>
                    <% end %>
									</div>
								</div>
          <% end %>
				</div>
			</div>
		</div>
