<!DOCTYPE html>
<html>
  <head>
    <title>Fundraise for Freedom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body style="<%= yield :body_styles %>">
    <%= render 'shared/header' %>
    <main>
      <%= yield %>
      <% flash.each do |name, msg| -%>
        <div class="snackbar-container">
          <%= content_tag :div, msg, class: "#{name} snackbar" %>
        </div>
      <% end -%>
    </main>
  </body>
</html>
